body {
    margin: 0;
    font-family: Helvetica, serif;
    background-color: #393e46;
}

p, h1, h2, h3, i {
    color: #ebebeb;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #222831;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.section {
    width: 700px;
    margin: 10px auto 0 auto;
    background-color: #222831;
    border-radius: 20px;
}

.nav {
    display: flex;
    margin-left: 20%;
    justify-content: center;
}

.align-right {
    display: flex;
    flex-direction: row-reverse;
}